@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  resize: vertical;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 50%;
  height: 60%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.concon{
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 50%;
  height: 50%;
  padding: 0 30px;
  color: #1b1b1b;
}
.convon{
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 30%;
  height: 50%;
  padding: 0 30px;
  color: #1b1b1b;
}
.concon  div{
  font-size: 18px;
  font-weight: 100;
}
.footer{
    padding: 10px 0;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: #4b4c4d;  
}
.footer .social a{
    font-size: 20px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 70%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style:none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    
}
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 10px;
}
.footer ul li a:hover{
    opacity: 1;
}
.list{
    text-align: center;
}
input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    bakground-color: #45a049;
}
.container{
    border-radius: 5px;
    padding: 10px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    .column, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}
#regform{
    background-color: #fff;
    margin: 100px auto;
    padding: 40px;
    width: 60%;
    min-width: 300px;
}
input{
    padding: 10px;
    width: 70%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
input.invalid{
    background-color: #ffdddd;
}
.tab{
    display: none;
}
.step{
    height:30px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active{
    opacity: 1;
}
.step.finish{
    background-color: #04AA6D;
}